<div class="row container">
  <section class="seccion-one">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h1>{{configuration.seccionOne?.title}}</h1>
      <button class="button-main">{{configuration.seccionOne.buttons[0].text}}</button>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="common-text" [innerHTML]="configuration.seccionOne?.content"></div>
      <button class="button-main left-button">{{configuration.seccionOne.buttons[1]?.text}}</button>
    </div>
  </section>
  <section class="seccion-two">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h1>{{configuration.seccionTwo?.partOne?.title}}</h1>
      <div class="common-text partOneContent" [innerHTML]="configuration.seccionTwo?.partOne?.content"></div>
      <button class="button-main">{{configuration.seccionTwo.partOne.button.text}}</button>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 partTwo">
    </div>
  </section>
  <section class="seccion-tree">
    <div class="col-lg-6 col-md-12 col-sm-12 partOne">
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 partTwo">
      <img class="icon" src="../../assets/img/icons/google.png">
      <h1 class="h1-partTwo">{{configuration.seccionTwo?.partTwo?.title}}</h1>
      <div class="common-text partTwoContent" [innerHTML]="configuration.seccionTwo?.partTwo?.content"></div>
      <div class="common-text partTwoContent2" [innerHTML]="configuration.seccionTwo?.partTwo?.content2"></div>
      <button class="button-main">{{configuration.seccionTwo.partTwo.button.text}}</button>
    </div>
  </section>
  <section class="seccion-four">
    <div class="col-lg-6 col-md-12 col-sm-12 partOne">
      <div class="d-flex divOne">
        <img class="icon" src="../../assets/img/icons/card-shop.png">
        <h1 class="h1-partTwo">{{configuration.seccionThree?.partTwo?.title}}</h1>
      </div>
      <div class="common-text partTwoContent" [innerHTML]="configuration.seccionThree?.partTwo?.content"></div>
      <button class="button-main">{{configuration.seccionThree.partTwo.button.text}}</button>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 partTwo">
    </div>
  </section>
  <section class="seccion-five">
    <div class="col-lg-4 col-md-12 col-sm-12 partOne" *ngFor="let item of configuration.seccionFour.cards">
      <div class="loader">
        <div class="box-1">
        </div>
        <span>
            {{item.title}}
        </span>
      </div>
    </div>
  </section>

</div>
