<div class="row container">
  <section class="seccion-one">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1>{{configuration.seccionOne?.title}}</h1>
      <div class="common-text" [innerHTML]="configuration.seccionOne?.content"></div>
      <div class="div-button">
        <button class="button-main">{{configuration.seccionOne.buttons[0].text}}</button>
        <button class="button-main">{{configuration.seccionOne.buttons[1]?.text}}</button>
      </div>
    </div>
  </section>
  <section class="seccion-two">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="d-flex">
        <img class="img" src="{{configuration.seccionTwo.partOne.img.imgOne}}" alt="">
        <img class="img" src="{{configuration.seccionTwo.partOne.img.imgTwo}}" alt="">
      </div>
      <h1>{{configuration.seccionTwo?.partOne?.title}}</h1>
      <div class="common-text partOneContent" [innerHTML]="configuration.seccionTwo?.partOne?.content"></div>
      <button class="button-main">{{configuration.seccionTwo.partOne.button.text}}</button>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 partTwo">
    </div>
  </section>
  <section class="seccion-tree">
    <div class="col-lg-6 col-md-12 col-sm-12 partOne">
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 partTwo">
      <img class="icon" src="../../assets/img/icons/google.png">
      <h1 class="h1-partTwo">{{configuration.seccionTwo?.partTwo?.title}}</h1>
      <div class="common-text partTwoContent" [innerHTML]="configuration.seccionTwo?.partTwo?.content"></div>
      <div class="common-text partTwoContent2" [innerHTML]="configuration.seccionTwo?.partTwo?.content2"></div>
      <button class="button-main">{{configuration.seccionTwo.partTwo.button.text}}</button>
    </div>
  </section>
  <section class="seccion-four">
    <!-- on progress -->
    <div class="col-lg-6 col-md-12 col-sm-12 partOne">
      <div class="d-flex divOne">
        <h1 class="h1-partTwo">{{configuration.seccionThree?.partOne?.title}}</h1>
        <img class="icon" src="../../assets/img/icons/codigo.png">
      </div>
      <div class="common-text partTwoContent" [innerHTML]="configuration.seccionThree?.partOne?.content"></div>
      <div class="common-text partTwoContent" [innerHTML]="configuration.seccionThree?.partOne?.component2"></div>
      <div>
        <button class="button-main">{{configuration.seccionThree.partOne.button.text}}</button>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 partTwo">
    </div>
  </section>
  <section class="seccion-five">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1>{{configuration.seccionFour?.title}}</h1>
      <h2>{{configuration.seccionFour?.subTitle}}</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 d-block col-md-12 col-sm-12 partOne" *ngFor="let item of configuration.seccionFour.cards">
        <div class="col-lg-12 d-flex">
          <div class="loader">
            <div class="box-1">
            </div>
            <span>
                {{item.title}}
            </span>
          </div>
        </div>
        <div class="content-1 col-lg-12">
          <p>{{item.content}}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="seccion-six">
    <div class="col-lg-6 col-md-12 col-sm-12 partOne">
      <div class="d-flex divOne">
        <img class="icon" src="../../assets/img/icons/card-shop.png">
        <h1 class="h1-partTwo">{{configuration.seccionThree?.partTwo?.title}}</h1>
      </div>
      <div class="common-text partTwoContent" [innerHTML]="configuration.seccionThree?.partTwo?.content"></div>
      <button class="button-main">{{configuration.seccionThree.partTwo.button.text}}</button>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 partTwo">
    </div>
  </section>
  <section class="seccion-seven">
    <div class="col-lg-6 col-md-12 col-sm-12 partOne">
      <h1>{{configuration.seccionSix?.title}}</h1>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 partTwo">
      <div class="main-one">
        <div class="d-flex mb-3" *ngFor="let item of configuration.seccionSix.content">
          <img class="img-fix" src="{{item.icon}}"><p>{{item.data}}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="seccion-eigth">
    <div [formGroup]="formInfo" class="col-lg-12 col-md-12 col-sm-12 partOne">
      <h1>{{configuration.seccionSeven?.title}}</h1>
      <h2>{{configuration.seccionSeven?.content}}</h2>
      <div class="col-lg-12 col-md-12 col-sm-12 pt-4 d-flex">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-form-field class="linkstart-input">
              <mat-label>Nombre</mat-label>
              <input type="text" matInput formControlName="name"
                     placeholder="nombre">
              <!-- <mat-hint>text below input</mat-hint> -->
              <mat-error *ngIf="formInfo.controls['name'].hasError('required')">
                Please enter a valid nombre
              </mat-error>
              <!-- <mat-error *ngIf="formInfo.controls['name'].hasError('required')">
                nombre es <strong>requerido</strong>
              </mat-error> -->
            </mat-form-field>
            <mat-form-field class="linkstart-input">
              <mat-label>Telefono</mat-label>
              <input type="text" matInput formControlName="phoneNumber"
                     placeholder="Telefono">
              <mat-error *ngIf="formInfo.controls['phoneNumber'].hasError('required')">
                Please enter a valid telefono
              </mat-error>
            </mat-form-field>
            <mat-form-field class="linkstart-input">
              <mat-label>Mensaje</mat-label>
              <input type="text" matInput formControlName="message"
                     placeholder="mensaje">
              <mat-error *ngIf="formInfo.controls['message'].hasError('required')">
                Please enter a valid mensaje
              </mat-error>
            </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <mat-form-field class="linkstart-input">
            <mat-label>Correo Electronico</mat-label>
            <input type="text" matInput formControlName="email"
                   placeholder="Correo Electronico">
            <mat-error *ngIf="formInfo.controls['email'].hasError('required')">
              Please enter a valid Correo Electronico
            </mat-error>
          </mat-form-field>
          <mat-form-field class="linkstart-input">
            <mat-label>Servicio</mat-label>
            <input type="text" matInput formControlName="service"
                   placeholder="Servicio">
            <mat-error *ngIf="formInfo.controls['service'].hasError('required')">
              Please enter a valid Servicio
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 buttonInfo">
        <button class="button-main" [disabled]="formInfo.invalid">ENVIAR</button>
      </div>
    </div>
  </section>

</div>
