<div>
  <section class="seccionOne">
    <div class="bg">
      <div class="sections">
        <h1>Mkt Digital & Desarrollo Web</h1>
        <h4>Linkstart mas que una Agencia Digital, será tu Socio</h4>
        <h4>estratégico para que puedas ir más allá revolucionar </h4>
        <h4>tu negocio en la era digital con nuestras estrategias</h4>
        <h4>exclusivas.</h4>
        <button class="button" type="button" mat-button>MAS INFORMACION</button>
      </div>
    </div>
  </section>
  <section>
    <div class="bg d-flex pt-3">
      <div class="sections-half-rigth col-lg-6 col-md-6">
        <div>
          <h3>Campañas Publiitarias Google</h3>
          <ul>
            <li><p>jkhgjhkg</p></li>
            <li><p>jkhgjhkg</p></li>
            <li><p>jkhgjhkg</p></li>
            <li><p>jkhgjhkg</p></li>
          </ul>
        </div>
        <div class="sections-half-button">
          <ul>
            <li><p>jkhgjhkg</p></li>
            <li><p>jkhgjhkg</p></li>
            <li><p>jkhgjhkg</p></li>
            <li><p>jkhgjhkg</p></li>
          </ul>
        </div>
        <button class="button" type="button" mat-button>COTIZAR</button>
      </div>
      <div class="sections-half-left col-lg-6 col-md-6">
        <div class="sections-half-top">
          <h3>Campañas Publiitarias Meta Ads</h3>
          <p>Facebook & instagram</p>
        </div>
        <div class="sections-half-button-left">
          <ul>
            <li><p>jkhgjhkg</p></li>
            <li><p>jkhgjhkg</p></li>
            <li><p>jkhgjhkg</p></li>
            <li><p>jkhgjhkg</p></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="bg"></div>
    <h1>SCROLL MORE TO SEE MORE</h1>
  </section>
  <section>
    <div class="bg"></div>
    <h1>LOVING THE IMAGES</h1>
  </section>
  <section>
    <div class="bg"></div>
    <h1>NICE, RIGHT?</h1>
  </section>
</div>
